.login-container {
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이 */
    background-color: #f8f9fa; /* 선택적 배경색 */
}

.footer-links {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    gap: 1.5rem; /* 버튼 사이의 간격 */
}

.footer-link {
    color: #007bff; /* 버튼 스타일의 파란색 */
    font-size: 1rem; /* 적당한 텍스트 크기 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: pointer; /* 마우스 커서 변경 */
    transition: color 0.3s ease; /* 호버 시 부드러운 색상 변화 */
}

.footer-link:hover {
    color: #0056b3; /* 호버 시 어두운 파란색 */
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}


/* SocialLoginButtons.css */
.social-login-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* 버튼 간의 간격 */
}

.social-login-btn {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.social-login-btn img {
    width: 100%;
    height: auto;  /* 이미지 크기 조정 */
}

.social-login-btn:hover {
    opacity: 0.8; /* 버튼에 마우스를 올렸을 때 약간 투명하게 */
}
